---
import Layout from '../layouts/Layout.astro';
import MemberCard from '../components/MemberCard.astro';
import InfoCardHeader from '../components/InfoCardHeader.astro';
import mike from '../content/michael.jpg'
import russell from '../content/russell.jpg'
import ben from '../content/ben.jpg'
import jacob from '../content/jacob.jpg'
import kate from '../content/kate.jpg'
import alex from '../content/alex.jpg'
import nick from '../content/nick.jpg'
import matthew from '../content/matthew.jpg'
import sam from '../content/sam.jpg'
import ayman from '../content/ayman.jpg'
---
<Layout title="About - FMUNTENTH">
	<main>
		<div class="relative w-full">
			<div class="grid h-screen place-items-center">
				<div class="px-5 pb-20">
					<InfoCardHeader subject="About the Competition">
						F1TENTH is a competition hosted at various robotics conferences throughout the world, such as CPS-IoT Week. Teams compete to see who can write the best driving algorithm for a one-tenth scale racing vehicle. The mission is to foster interest, excitement, and critical thinking about the increasingly ubiquitous field of autonomous systems, and to encourage university students to explore a relatively new field of research.<br/>
						<br/>
						F1TENTH competition consists of two main categories: a closed and an open competition. The closed competition restricts what hardware can be used for the car so that teams focus primarily on their software solution. In the open competition, teams have more flexibility in terms of what hardware, sensors, and motors they can use.
					</InfoCardHeader>
					<div class="grid grid-cols-2 gap-4 max-w-4xl">
						<MemberCard name="Ben Thomas" linkedinURL="https://www.linkedin.com/in/brjthomas" photoPath={ben}>
							
						</MemberCard>
						<MemberCard name="Russell Corbett" linkedinURL="https://www.linkedin.com/in/russell-corbett" photoPath={russell}>
							
						</MemberCard>
						<MemberCard name="Nick Philpott" linkedinURL="https://www.linkedin.com/in/nicholas-philpott-6028a3233/" photoPath={nick}>
							
						</MemberCard>
						<MemberCard name="Matthew Jones" linkedinURL="https://www.linkedin.com/in/matthew-jones-3104ba224" photoPath={matthew}>
							
						</MemberCard>
						<MemberCard name="Jacob Gillis" linkedinURL="https://www.linkedin.com/in/jpj-gillis" photoPath={jacob}>
							
						</MemberCard>
						<MemberCard name="Kate Williams" linkedinURL="https://www.linkedin.com/in/km-williams" photoPath={kate}>
							
						</MemberCard>
						<MemberCard name="Michael Mallay" linkedinURL="https://www.linkedin.com/in/michael-mallay-92a769221/" photoPath={mike}>
							
						</MemberCard>
						<MemberCard name="Alex Bruneau" linkedinURL="https://www.linkedin.com/in/alexanderbr" photoPath={alex}>
							
						</MemberCard>
						<MemberCard name="Sam Sheppard" linkedinURL="https://www.linkedin.com/mwlite/in/samuel-sheppard-a22393226" photoPath={sam}>
							
						</MemberCard>
						<MemberCard name="Ayman Islam" linkedinURL="https://www.linkedin.com/in/ayman-islam-a5ba8b1ab/" photoPath={ayman}>
							
						</MemberCard>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
